backend/n8n-workflows/circuit-sorcerer-backend-template.json
{
  "name": "Circuit Sorcerer - Complete with Emby",
  "nodes": [
    {
      "parameters": {
        "path": "contact",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "contact-webhook",
      "name": "Contact Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.body || $input.item.json;\n\nconst name = (data.name || '').replace(/'/g, \"''\");\nconst email = (data.email || '').replace(/'/g, \"''\");\nconst message = (data.message || '').replace(/'/g, \"''\");\n\nconst discordMessage = `📧 **New Contact Form**\\n**From:** ${data.name}\\n**Email:** ${data.email}\\n**Message:** ${data.message}`;\n\nconst sql = `INSERT INTO contacts (name, email, message) VALUES ('${name}', '${email}', '${message}') RETURNING id;`;\n\nreturn {\n  json: {\n    sql: sql,\n    discordMessage: discordMessage\n  }\n};"
      },
      "id": "process-contact",
      "name": "Process Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "save-contact",
      "name": "Save Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Process Contact').item.json.discordMessage }}"
            }
          ]
        }
      },
      "id": "discord-contact",
      "name": "Discord Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Thank you for contacting us!\"}"
      },
      "id": "contact-response",
      "name": "Contact Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "path": "media-request",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "media-webhook",
      "name": "Media Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 540]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.body || $input.item.json;\n\nconst title = (data.title || '').replace(/'/g, \"''\");\nconst type = (data.type || '').replace(/'/g, \"''\");\nconst name = (data.name || '').replace(/'/g, \"''\");\nconst email = (data.email || '').replace(/'/g, \"''\");\n\nconst discordMessage = `🎬 **New Media Request**\\n**Type:** ${data.type}\\n**Title:** ${data.title}\\n**From:** ${data.name} (${data.email})`;\n\nconst sql = `INSERT INTO media_requests (title, type, name, email) VALUES ('${title}', '${type}', '${name}', '${email}') RETURNING id;`;\n\nreturn {\n  json: {\n    sql: sql,\n    discordMessage: discordMessage\n  }\n};"
      },
      "id": "process-media",
      "name": "Process Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 540]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "save-media",
      "name": "Save Media",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [680, 540]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Process Media').item.json.discordMessage }}"
            }
          ]
        }
      },
      "id": "discord-media",
      "name": "Discord Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 540]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Media request submitted!\"}"
      },
      "id": "media-response",
      "name": "Media Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 540]
    },
    {
      "parameters": {
        "path": "emby-registration",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "emby-webhook",
      "name": "Emby Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 780]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.body || $input.item.json;\n\nconst name = (data.name || '').replace(/'/g, \"''\");\nconst email = (data.email || '').replace(/'/g, \"''\");\nconst username = (data.username || '').replace(/'/g, \"''\");\nconst password = data.password || '';\n\nconst salt = Array.from({length: 16}, () => Math.floor(Math.random() * 16).toString(16)).join('');\nconst password_hash = (salt + ':' + password).replace(/'/g, \"''\");\n\nconst sql = `INSERT INTO emby_registrations (name, email, username, password_hash) VALUES ('${name}', '${email}', '${username}', '${password_hash}') RETURNING id;`;\n\nreturn {\n  json: {\n    sql: sql,\n    name: data.name,\n    email: data.email,\n    username: data.username\n  }\n};"
      },
      "id": "process-emby",
      "name": "Process Emby",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 780]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "save-emby",
      "name": "Save Emby",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [680, 780]
    },
    {
      "parameters": {
        "jsCode": "const savedId = $input.item.json.id;\nconst processData = $('Process Emby').item.json;\n\nconst telegramText = `🆕 New Emby Registration\\nID: ${savedId}\\n👤 Name: ${processData.name}\\n📧 Email: ${processData.email}\\n👨‍💻 Username: ${processData.username}\\n\\nReply 'approve ${savedId}' or 'deny ${savedId}'`;\n\nreturn {\n  json: {\n    telegramText: telegramText\n  }\n};"
      },
      "id": "format-telegram",
      "name": "Format Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 780]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.telegramText }}"
      },
      "id": "telegram-notify",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 780]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Registration submitted for review!\"}"
      },
      "id": "emby-response",
      "name": "Emby Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 780]
    },
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 1020]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "approve-chat-id",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": "YOUR_TELEGRAM_CHAT_ID",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "approve-regex",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "^approve \\d+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-approve",
      "name": "Check If Approve",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 960]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "deny-chat-id",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": "YOUR_TELEGRAM_CHAT_ID",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "deny-regex",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "^deny \\d+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-deny",
      "name": "Check If Deny",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 1080]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, name, email, username, password_hash FROM emby_registrations WHERE id = {{ $json.message.text.split(' ')[1] }}::integer LIMIT 1;"
      },
      "id": "get-user-details",
      "name": "Get User Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [680, 960]
    },
    {
      "parameters": {
        "jsCode": "const passwordHash = $input.item.json.password_hash;\nconst password = passwordHash.split(':')[1];\n\nreturn {\n  json: {\n    id: $input.item.json.id,\n    name: $input.item.json.name,\n    email: $input.item.json.email,\n    username: $input.item.json.username,\n    password: password\n  }\n};"
      },
      "id": "extract-password",
      "name": "Extract Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 960]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-emby-server.example.com/Users/New",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Emby-Token",
              "value": "YOUR_EMBY_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Name\": \"{{ $json.username }}\",\n  \"Password\": \"{{ $json.password }}\"\n}",
        "options": {}
      },
      "id": "create-emby-account",
      "name": "Create Emby Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 960]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE emby_registrations SET status = 'approved' WHERE id = {{ $('Extract Password').item.json.id }}::integer;"
      },
      "id": "update-approved",
      "name": "Update Status Approved",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1340, 960]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ Approved registration #{{ $('Extract Password').item.json.id }}\n\n🎬 Emby account created!\n👤 Username: {{ $('Extract Password').item.json.username }}\n📧 Email: {{ $('Extract Password').item.json.email }}\n\nAccount is ready to use at https://your-emby-server.example.com"
      },
      "id": "send-approve-confirmation",
      "name": "Send Approval Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1560, 960]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE emby_registrations SET status = 'denied' WHERE id = {{ $json.message.text.split(' ')[1] }}::integer;"
      },
      "id": "update-denied",
      "name": "Update Status Denied",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [680, 1080]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=❌ Denied registration #{{ $json.message.text.split(' ')[1] }}\n\nThe request has been rejected."
      },
      "id": "send-deny-confirmation",
      "name": "Send Denial Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [900, 1080]
    }
  ],
  "connections": {
    "Contact Webhook": {
      "main": [[{"node": "Process Contact", "type": "main", "index": 0}]]
    },
    "Process Contact": {
      "main": [[{"node": "Save Contact", "type": "main", "index": 0}]]
    },
    "Save Contact": {
      "main": [[{"node": "Discord Contact", "type": "main", "index": 0}]]
    },
    "Discord Contact": {
      "main": [[{"node": "Contact Response", "type": "main", "index": 0}]]
    },
    "Media Webhook": {
      "main": [[{"node": "Process Media", "type": "main", "index": 0}]]
    },
    "Process Media": {
      "main": [[{"node": "Save Media", "type": "main", "index": 0}]]
    },
    "Save Media": {
      "main": [[{"node": "Discord Media", "type": "main", "index": 0}]]
    },
    "Discord Media": {
      "main": [[{"node": "Media Response", "type": "main", "index": 0}]]
    },
    "Emby Webhook": {
      "main": [[{"node": "Process Emby", "type": "main", "index": 0}]]
    },
    "Process Emby": {
      "main": [[{"node": "Save Emby", "type": "main", "index": 0}]]
    },
    "Save Emby": {
      "main": [[{"node": "Format Telegram", "type": "main", "index": 0}]]
    },
    "Format Telegram": {
      "main": [[{"node": "Telegram Notify", "type": "main", "index": 0}]]
    },
    "Telegram Notify": {
      "main": [[{"node": "Emby Response", "type": "main", "index": 0}]]
    },
    "Telegram Trigger": {
      "main": [
        [
          {"node": "Check If Approve", "type": "main", "index": 0},
          {"node": "Check If Deny", "type": "main", "index": 0}
        ]
      ]
    },
    "Check If Approve": {
      "main": [[{"node": "Get User Details", "type": "main", "index": 0}]]
    },
    "Check If Deny": {
      "main": [[{"node": "Update Status Denied", "type": "main", "index": 0}]]
    },
    "Get User Details": {
      "main": [[{"node": "Extract Password", "type": "main", "index": 0}]]
    },
    "Extract Password": {
      "main": [[{"node": "Create Emby Account", "type": "main", "index": 0}]]
    },
    "Create Emby Account": {
      "main": [[{"node": "Update Status Approved", "type": "main", "index": 0}]]
    },
    "Update Status Approved": {
      "main": [[{"node": "Send Approval Confirmation", "type": "main", "index": 0}]]
    },
    "Update Status Denied": {
      "main": [[{"node": "Send Denial Confirmation", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": []
}
